<template>
  <div class="home">
     <h1 class="home__my-spots">Мои заведения</h1>
     <el-card class="home__box-card">
  <div v-for="o in 15" :key="o" class="text item">
    {{'Заведение ' + o }}
  </div>
</el-card>
  <el-row>
    <el-button class="add-spots" type="primary" plain >Добавить заведение</el-button>
  </el-row>
  </div>
</template>

<style>
  .home__my-spots{
    position: relative;
    left: -555px;
  }

  .add-spots{
    position: absolute;
    left: 0;
    width: 235px;

  }

  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .home__box-card {
    overflow: auto !important;
    width: 250px;
    height: 300px;
  }
</style>

<script>
export default {
  name: 'home',
  components: {
  }
}
</script>
